<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading col-xs-12">
                <!-- *ngFor="let contact of contacts" -->
                <h3>Name {{contact.name}}</h3>
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <span>
                            <img [src]="contact.imagePath" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
                        </span></div>
                    <div class="col-xs-3">
                        <a href="#">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p>Email: {{contact.email}}</p>
                <p>Phone: {{contact.phone}}</p>
            </div>
        </div>
    </div>
</div>