<div class="row">
  <div class="panel panel-default col-xs-12">
    <div class="panel-heading row">
      <div class="col-md-6">
        <h1>Contacts</h1>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-success">New Contact</button>
      </div>
    </div>
    <div class="panel-body">
      <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ contact.name }}</h4>
          <p class="list-group-item-text">{{ contact.description }}</p>
        </div>
        <span class="pull-right">
          <img [src]="contact.imagePath" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
        </span>
      </a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">

    <!-- <cms-contact-list></cms-contact-list> -->
  </div>
</div>