<div class="row">
  <div class="panel panel-default col-xs-12">
    <div class="panel-heading row">
      <div class="col-md-6">
        <h1>Contacts</h1>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-success">New Contact</button>
      </div>
    </div>
    <div class="panel-body">
        <cms-contact-item
        *ngFor="let contactEl of contacts"
        [contact]="contactEl"
        (contactSelected)="onSelected(contactEl)"></cms-contact-item>
    </div>
  </div>
</div>